#title{
    background-color: cadetblue;
    padding: 20px;
}
#intro{
background-color: blue;
height: 20px;
}
#heading{
background-color: grey;
height: 30px;
font-size: large;
font-weight: bolder;
padding: 25px;
text-align: right;
}
#back{
background-color: aqua;
height: 600px;
}
#contact{
background-color: green;
height: 100px;
}
#footer{
background-color: greenyellow;
height: 50px;
text-align: end;
}

li{
    display: inline;
    padding: 20px;
    text-align: end;
}