#title{
    background-color: cadetblue;
    padding: 5px;
}
#intro{
background-color: blue;
height: 50px;
padding: 10px;
}
#heading{
background-color: grey;
font-size: large;
font-weight: bolder;
padding: 15px;
text-align: right;
height: 20px;
}
.back{
height: 400px;
background-color: aqua;
padding: 10px;
}
#contact{
background-color: green;
height: 60px;
padding: 10px;
}
#contact1{
    background-color: greenyellow;
    height: 60px;
    padding: 10px;
    }
#footer{
background-color: greenyellow;
height: 30px;
text-align: end;
padding: 2px;
}

li{
    display: inline;
    padding: 20px;
    text-align: end;
}

.column-profile {
    float: left;
    width: 50%;
    height: 100%;
    font-size: xx-large;
    background-image: url("image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size:auto;
    text-align: center;
}

.row-profile {
    height: 500px;
    
}

.column-profile2 {
    float: right;
    background-color:aquamarine;
    height: 300px;
    width: 400px;
    margin-top: 40px;
    padding-right: 30px;
    margin-right: 100px;
    text-align: center;
}
.profile-h2 {
    margin-left: 500px;
    margin-top: 200px;
    font-size: 70px;
    color: azure;
    font-weight: bold;
}